<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%-include('./layouts/head.ejs')%>

    <main>
        <%suhaib.forEach(sister =>{%>
<div>


    <p>
        <%= sister.name %>
    </p>
    <img src="<%= sister.image %>" alt="" srcset=""> 

    <p>
        <%= sister.house %>
    </p>

    <p>
        <%= sister.patronus %>
    </p>

    <p>
        <%= sister.alive %>
    </p>
    </div>

    <a href="/character/<%=sister.id%>">view details</a>
    <%})%>

    </main>
</body>
</html>